<%= form_with url: edit_users_path(@user), method: :get do |form| %>
  <div class="form-group">
    <%= form.text_field :zipcode, value: nil, placeholder: "Enter Zipcode", class: "form-control" %>
    <%= form.submit "Search", class: "btn btn-primary mt-1" %>
  </div>
<% end %>
<h2>Address</h2>
<%= form_with url: users_path, model: @user, method: :patch do |form| %>
  <%= form.fields_for :address do |address|%>
    <div class="form-group">
      <%= address.label :zipcode, class: "form-label" %>
      <%= address.text_field :zipcode, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address.label :street, class: "form-label" %>
      <%= address.text_field :street, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address.label :city, class: "form-label" %>
      <%= address.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address.label :state, class: "form-label" %>
      <%= address.text_field :state, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= address.label :neighborhood, class: "form-label" %>
      <%= address.text_field :neighborhood, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "Update", class: "btn btn-success mt-2" %>
    </div>
  <% end %>
<% end %>