<tr>
  <td><img src="<%= book.cover_url %>" class="img-thumbnail"></td>
  <td><%= book.isbn %></td>
  <td><%= book.title %></td>
  <td><%= book.authors.map(&:name).join(", ") %></td>
  <td><%= book.subjects.map(&:description).join(", ") %></td>
  <td>
    <%= button_to "Delete", delete_book_libraries_path(book), method: :delete, class: "btn btn-danger" %>
    <%= button_to "Serch Prices", book_search_prices_path(book), method: :post, class: "btn btn-success" %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prices-book-<%= book.id %>">
      Prices
    </button>
  </td>
  <td>
  </td>
</tr>

<!-- Modal -->
<div class="modal fade" id="prices-book-<%= book.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Prices for <%= book.title%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: 'libraries/search_price', collection: book.search_prices, cached: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
