<%= tag.div(flash[:notice], style: "color:red") if flash[:notice] %>

<%= form_with url: books_path, method: :post do |form| %>
  <%= form.label :isbn%>
  <%= form.text_field :isbn %>
  <%= form.submit "Add Book" %>

<% end %>

<h1>My Library</h1>
<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Subjects</th>
      <th>Actions</th>
      <th>Price Search</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.authors.pluck(:name).join(", ") %></td>
        <td><%= book.subjects.pluck(:description).join(", ") %></td>
        <td>
          <%= button_to "Delete", delete_book_libraries_path(book), method: :delete %>
          <%= button_to "Serch Prices", book_search_prices_path(book), method: :post %>
        </td>
        <td>
          <% if book.search_prices.any? %>
            <ul>
              <% book.search_prices.each do |search_price| %>
                <li>
                  <a href="<%= search_price.link %>" target="_blank"><%= search_price.product %>: <%= search_price.price %></a>
                </li>
              <% end %>
            </ul>
          <% else %>
            No prices found.
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
