<%= tag.div(flash[:notice], style: "color:red") if flash[:notice] %>

<%= form_with url: books_path, method: :post do |form| %>
  <%= form.label :isbn%>
  <%= form.text_field :isbn %>
  <%= form.submit "Add Book" %>

<% end %>

<h1>My Library</h1>
<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Subjects</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @library.books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.authors.pluck(:name).join(", ") %></td>
        <td><%= book.subjects.pluck(:description).join(", ") %></td>
        <td>
          <%= button_to "Excluir", delete_book_libraries_path(book), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
