<%= tag.div(flash[:notice], style: "color:red") if flash[:notice] %>

<%= form_with url: books_path, method: :post do |form| %>
  <%= form.label :isbn%>
  <%= form.text_field :isbn %>
  <%= form.submit "Add Book" %>

<% end %>

<h1>My Library</h1>
<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Subjects</th>
      <th>Actions</th>
      <th>Price Search</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'book', collection: @books, cached: true %>
  </tbody>
</table>
